.copy_right_footer {
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}
h1 {
    font-style:normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    width:360;
    height:250;
}
img:hover {
    border-radius: 140px;
}